<!doctype html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Twoje konta</title>
</head>
<body>
  <div *ngFor="let account of accounts; index as i">
    <button (click)="loginToAccount(account.uuid)">{{account.name}}</button><br>
  </div>
</body>
</html>
