<!DOCTYPE html>
<html>
<head>
  <title>Registration Form</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <style>
    body {
      background-color: #f1f1f1;
    }
    .container {
      background-color: #fff;
      padding: 50px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      margin-top: 50px;
      max-width: 500px;
    }
    h2 {
      text-align: center;
      margin-bottom: 30px;
    }
    .form-group label {
      font-weight: 600;
    }
    .btn-primary {
      margin-top: 20px;
    }
  </style>
</head>
<body>

<div class="container">
  <h2>Potwierdzenie aktywacji konta</h2>
  <ng-container *ngIf="validLink">
    <form [formGroup]="form" (ngSubmit)="activateAccount()">
      <div class="form-group">
        <div class="form-group">
          <mat-form-field style="width: 100%;">
            <input type="text" matInput placeholder="Token" required token formControlName="token">
            <mat-error>Token nieprawidłwoy</mat-error>
          </mat-form-field>
        </div>
        <button type="submit" class="btn btn-primary">Potwierdź token</button>
      </div>
    </form>
  </ng-container>

</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>
